# OS
.DS_Store
Thumbs.db

# Java / Gradle
.gradle/
build/
bin/
out/
**/*.log

# Spring Boot
*.jar
*.war
*.iml

# Node / Frontend
frontend auth example/node_modules/
frontend auth example/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.env

# IDE
.idea/
.vscode/
*.swp
*.swo


